<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bem vindo a {{title}}!
  </h1>
</div>  
  
<ul class="pecas">
  <li *ngFor="let peca of pecas" 
      (click) = "onSelect(peca)"
      [class.selected]="peca === selectedPeca" >
            <span class="badge">{{peca.id}}</span> {{peca.nome}}
  </li>
</ul>  


<div *ngIf="selectedPeca">
  <h2>Pe&ccedil;a: {{selectedPeca.nome}}</h2>
  <div><label>ID: </label>{{selectedPeca.id}}</div>
  <div><label>Nome: </label><input [(ngModel)]="selectedPeca.nome" placeholder="nome"></div>
  <div><label>Categoria: </label>{{selectedPeca.categoria}}</div>
</div>